body {
    color: #9B59B6;
}

a:link{
    color:#BEA76F;
}
a:visited{
    color: #BEA76F;
}
a:hover{
    color:#8E7C51 ;
}
a:active{
    color:#8E7C51 ;
}

a.button:hover{
    border-color: #663591;
}

#forth {
    background-color: #BEA76F;
    color: #663591;
}

ul#navbar {
    background-color: #663591 ;
}

li.navbar {
    float: left;
}

  
li.navbar a {
    display: block;
    color: #BEA76F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.navbar a:hover {
    background-color: #9B59B6;
}

.active {
    background-color: #A37BB8;
}

.bonus:link{
    color: #9B59B6;
    text-decoration: none;
}

a.bonus:visited{
    color : #9B59B6;
}
a.bonus:hover{
    color : #9B59B6;
}
a.bonus:active{
    color : #9B59B6;
}

hr {
    border-color: #9B59B6;
}